.estagio-range{
    display: flex;
    flex-direction: row;
    width: 60%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    .divisor{
        width: calc(100% - 4* 66px);
        height: 2px;
        background-color: #808080;
    }
    >h1,>svg{
        font-size: 35px;
        border: 2px solid #808080;
        padding: 10px 20px;
        border-radius: 50%;
    }
    h1:first-child{
        padding: 10px 22.5px;
    }
    >h1{
        position: relative;
        svg{
            position: absolute;
            color: #520ad9;
            bottom: -11px;
            right: 0px;
        }
    }
    >div:last-child{
        max-width: 66px ;
        padding: 10px;
        max-height: 77px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border: 2px solid #808080;
        border-radius: 50%;
        >svg:first-child{
            font-size: 45px;
        }
        >svg:last-child{
            bottom: -11px;
            right: 0px;
            position: absolute;
            color:#520ad9;

        }
    }
}