.main-menu{
    display: flex;
    flex-direction: column;

    background-color: rgb(145, 145, 134);
    justify-content: center;

    height: 100vh;
    width: 0vw; // arrumar aqui se bugar na tela 

    img {
        height: 35px;
    }

    .menu{
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        background-color: white;
        box-shadow: -7px 5px 6px -5px #520DA9, 7px 5px 6px -5px #520DA9, 3px 5px 5px -5px #520DA9, 3px -5px 5px -5px #520DA9;
       

        position: fixed;
        
        align-items: center;
        
        width:50px;
        height: 80vh;

        border-radius: 20px;
        margin-left: 15px;

    }

    .meio-menu {
        display: flex;
        flex-direction: column;

        height: 300px;

        justify-content: space-around;
        
        img {
            height: 27px;
        }
 
    }

    .ft-5{
        height: 27px;
    }
}