.main-rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1F0145;
    height: fit-content;
    width: 100%;
    padding: 74px 0 50px 0;
    h1 {
        color: white;
    }

    .fotos-cab{
        margin-top: 15px;
        display:  flex;
        justify-content: center;
        width: 200px;
        justify-content: space-between;
        margin-bottom: 10px;
        .wa, .ia{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            background-color: #F9DD4A;
            width: 34px;
            height: 32px;
        }
        .wa, .ia{
            svg{
                fill: #1F0145;
                width: 22px;
                height: auto;
            }
        }
    }

    .barra-long{
        background-color: #FFFFFF;
        width: 60%;
        height: 3px;
        margin-bottom: 10px;
    }

    .textos-cab{
        text-align: center;
        color: #d2d0d0;
    }


    .textos-cab p {
        margin-bottom: 05px;
    }
    .t2 {
        color: #FFFFFF;
    }
}