body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    .secao-01{
        padding-top: calc(70px + 64px);
        padding-left: 100px;
        padding-right: 100px;
        >h1{
            color: #1F0145;
            font-size: 24px;
            margin-bottom: 40px;
        }
        .secao-01-categoria{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 70px;
            .mySwiper{
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
        }
        
    }
    .main-faixa-eventos{
        width: 100%;
        height: 60px;
        background-color: #520DA9;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 10px solid #F9DD4A;
        h1{
            font-size: 24px;
            color: #F9DD4A;
        }
    }
    .secao-02{
        margin-top: 50px;
        display: flex;
        width: 100%;
        height: fit-content;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .mySwiper{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: fit-content;
            align-items: center;
            justify-content: center;
        }
        .swiper-slide{
            padding: 30px 0;
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .swiper-pagination {
            position: relative;
            .swiper-pagination-bullet {
                filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
            }
            .swiper-pagination-bullet-active {
                background: #520ad9;
            }
        }
       
        
        

        .slider-controler {
            position: relative;
            bottom: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            .swiper-button-next {
                transform: rotate(18deg) !important;
                left: 58% !important;
                transform: translateX(-58%) !important;
            }
        }

    }
    .secao-03{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        .secao-03-carrosel{
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0 60px;
            .mySwiper{
                width: 100%;
            }
            .carrosel-controller{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                gap: 1rem;
                a{
                    svg{
                        font-size: 35px;
                        color: #520DA9;
                    }
                }
                .swiper-button-disabled{
                    svg{
                        color: #C2C2C2;
                    }
                }
            }
        }
        .secao-03-carrosel:last-child{
            margin-bottom: 200px;
        }
        .secao-03-carrosel-cidade{
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0 60px;
            .carrosel-controller{
                padding-right: 3rem;
                display: flex;
                flex-direction: row;
                width: 100%;
                align-items: center;
                justify-content: flex-end;
                gap: 14px;
                a{
                    svg{
                        font-size: 35px;
                        color: #520DA9;
                    }
                }
                .swiper-button-disabled{
                    svg{
                        color: #C2C2C2;
                    }
                }
                
                
            }
            
            .carrosel-cidade{
                margin-top: 17px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
        }
        .secao-03-carrosel:last-child{
            margin-bottom: 200px;
        }
    }
}
body::-webkit-scrollbar {
    width: 5px;
}
body::-webkit-scrollbar:hover {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background-color: transparent;
}
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #F9DD4A;
}

