body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    .secao-01{
        padding-top: calc(70px + 64px);
        padding-left: 100px;
        padding-right: 100px;
        >h1{
            color: #1F0145;
            font-size: 24px;
            margin-bottom: 40px;
        }
        .secao-01-categoria{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 70px;
        }
        
    }
    .main-faixa-eventos{
        width: 100%;
        height: 60px;
        background-color: #520DA9;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 10px solid #F9DD4A;
        h1{
            font-size: 24px;
            color: #F9DD4A;
        }
    }
    .secao-02{
        display: flex;
    }
    .secao-03{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        .secao-03-carrosel{
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0 60px;
            .carrosel-controller{
                display: flex;
                flex-direction: row;
                width: 100%;
                align-items: center;
                justify-content: flex-end;
                gap: 14px;
                >svg:first-child{
                    rotate: 180deg;
                    fill: yellow;
                    z-index: -1;
                }
            }
            .carrosel{
                margin-top: 17px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
        }
        .secao-03-carrosel:last-child{
            margin-bottom: 200px;
        }
    }
}
body::-webkit-scrollbar {
    width: 5px;
}
body::-webkit-scrollbar:hover {
    width: 10px;
}
body::-webkit-scrollbar-track {
    background-color: transparent;
}
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #F9DD4A;
}

