
.box-main{
    width: 215px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 16px;
    justify-content: center;
    background-size: cover;
    transition: .5s ease-in-out;
    position: relative;
    z-index: -1;
    h1{
        text-decoration: none !important;
        font-size: 16px;
        color: white;
        transition: .5s ease-in-out;
        position: relative;
        z-index: 0;
    }
}