.adm-ticket{
    width: 500px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    border-bottom: 6px solid #520DA9;
    transition: .5s ease-in-out;
    img{
        cursor: pointer;
    }
    &:hover{
        .ticket-upper-info{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 40px;
            p{
                font-weight: 700;
                font-size: 16px;
                color: #520DA9;
                span{
                font-size: 16px;
                color: black;
                }
            }
            h1{
                font-size: 22px;
                color: #520DA9;
            }
            >div{
                display: flex;
                flex-direction: row;
                gap: 33px;
                img{
                    visibility: visible;
                    transition: all .5s ease-in-out;
                }
            }
        }
    }
    .ticket-upper-info{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        p{
            font-weight: 700;
            font-size: 16px;
            color: #520DA9;
            span{
            font-size: 16px;
            color: black;
            }
        }
        h1{
            font-size: 22px;
            color: #520DA9;
        }
        >div{
            display: flex;
            flex-direction: row;
            gap: 33px;
            img{
                visibility: hidden;
            }
        }
    }
    .ticket-bottom-info{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 20px;
        p{
            font-weight: 700;
            font-size: 16px;
            color: #520DA9;
        }
        span{
            font-size: 16px;
            color: black;
        }
        .left-part{
            max-width: 55%;
            height: fit-content;
            flex-wrap: wrap;
            display: flex;
            flex-direction: column;
            .last-child{
                margin-bottom: 25px;
            }
            .ticket-type-clicked{
                overflow: hidden;
                width: 100%;
                cursor: pointer;
                justify-content: space-between;
                align-items: start;
                display: flex;
                flex-direction: column;
                background-color: white;
                padding: 5px 15px;
                border-radius: 10px;
                transition: all .5s ease-in-out;
                border-bottom: 3px solid #520DA9;
                height: 50px;
                .body{
                    gap: 3px;
                    width: 100%;
                    height: 130px;
                    display: flex;
                    flex-direction: column;
                    transition: all .5s ease-in-out;
                    .body-row{
                        height: fit-content;
                        padding: 5px 0;
                        border-bottom: 2px solid #520DA9;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        span:first-child{
                            font-weight: 700;
                            width: 40% !important;
                        }
                        span{
                            width: 30%;
                            font-size: 12px;
                        }
                    }
                }
                .header{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    margin-bottom: 5px;
                    a{
                        color: #520DA9;
                        font-weight: 700;
                        transition: all .5s ease-in-out;
                    }
                    
                }
            }
            .ticket-type{
                overflow: hidden;
                width: 100%;
                justify-content: space-between;
                align-items: start;
                display: flex;
                flex-direction: column;
                background-color: white;
                padding: 5px 15px;
                border-radius: 10px;
                transition: all .5s ease-in-out;
                border-bottom: 3px solid #520DA9;
                height: 33px;
                .body{
                    overflow: auto;
                    gap: 3px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    transform-origin: center;
                    transition: all .5s ease-in-out;
                    height: 130px;
                    .body-row{
                        height: fit-content;
                        padding: 5px 0;
                        border-bottom: 2px solid #520DA9;
                        width: 98%;
                        display: flex;
                        flex-direction: row;
                        transition: all .5s ease-in-out;
                        span:first-child{
                            font-weight: 700;
                            width: 40% !important;
                        }
                        span{
                            width: 30%;
                            font-size: 12px;
                        }
                    }
                }
                .header{
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    margin-bottom: 5px;
                    a{
                        color: #520DA9;
                        font-weight: 700;
                    }
                    img{
                        transform: rotate(180deg);
                        transition: all .5s ease-in-out;
                    }
                }
            }
        }
        .right-part{
            width: 190px;
            height: auto;
        }
    }
}
.adm-ticket-grow{
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
    width: 500px;
    height: 320px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
    border-bottom: 6px solid #520DA9;
    transition: .5s ease-in-out;
    &:hover{
        .ticket-upper-info{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 40px;
            p{
                font-weight: 700;
                font-size: 16px;
                color: #520DA9;
                span{
                font-size: 16px;
                color: black;
                }
            }
            h1{
                font-size: 22px;
                color: #520DA9;
            }
            >div{
                display: flex;
                flex-direction: row;
                gap: 33px;
                img{
                    visibility: visible;
                    transition: all .5s ease-in-out;
                }
            }
        }
    }
    .ticket-upper-info{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        p{
            font-weight: 700;
            font-size: 16px;
            color: #520DA9;
            span{
            font-size: 16px;
            color: black;
            }
        }
        h1{
            font-size: 22px;
            color: #520DA9;
        }
        >div{
            display: flex;
            flex-direction: row;
            gap: 33px;
            img{
                visibility: hidden;
                transition: all .5s ease-in-out;
            }
        }
    }
    .ticket-bottom-info{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 20px;
        p{
            font-weight: 700;
            font-size: 16px;
            color: #520DA9;
        }
        span{
            font-size: 16px;
            color: black;
        }
        .left-part{
            max-width: 55%;
            height: fit-content;
            flex-wrap: wrap;
            display: flex;
            flex-direction: column;
            .last-child{
                margin-bottom: 25px;
            }
            .ticket-type-clicked{
                box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
                overflow: hidden;
                width: 100%;
                justify-content: space-between;
                align-items: start;
                display: flex;
                flex-direction: column;
                background-color: white;
                padding: 5px 15px;
                border-radius: 10px;
                transition: all .5s ease-in-out;
                border-bottom: 3px solid #520DA9;
                height: 130px;
                .body{
                    overflow: auto;
                    gap: 3px;
                    height: 130px;
                    transform: scaleX(1);
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    transition: all .5s ease-in-out;
                    .body-row{
                        height: fit-content;
                        padding: 5px 0;
                        border-bottom: 2px solid #520DA9;
                        width: 98%;
                        display: flex;
                        flex-direction: row;
                        span:first-child{
                            font-weight: 700;
                            width: 40% !important;
                        }
                        span{
                            width: 30%;
                            font-size: 12px;
                        }
                    }
                }
                .header{
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    margin-bottom: 5px;
                    a{
                        color: #520DA9;
                        font-weight: 700;
                    }
                    img{
                        transform: rotate(360deg);
                        transition: all .5s ease-in-out;
                    }
                }
            }
            .ticket-type{
                box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
                width: 100%;
                cursor: pointer;
                justify-content: space-between;
                align-items: start;
                display: flex;
                flex-direction: column;
                background-color: white;
                padding: 5px 15px;
                border-radius: 10px;
                transition: all .5s ease-in-out;
                border-bottom: 3px solid #520DA9;
                height: 33px;
                overflow: hidden;
                .body{
                    gap: 3px;
                    width: 100%;
                    height: 130px;
                    display: flex;
                    flex-direction: column;
                    transform: scaleX(0);
                    transform-origin: center;
                    transition: all .5s ease-in-out;
                    .body-row{
                        height: fit-content;
                        padding: 5px 0;
                        border-bottom: 2px solid #520DA9;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        span:first-child{
                            font-weight: 700;
                            width: 40% !important;
                        }
                        span{
                            width: 30%;
                            font-size: 12px;
                        }
                    }
                }
                .header{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    margin-bottom: 5px;
                    a{
                        color: #520DA9;
                        font-weight: 700;
                        
                    }
                    img{
                        transform: rotate(360deg);
                        transition: all .5s ease-in-out;
                    }
                }
            }
        }
        .right-part{
            width: 190px;
            height: auto;
        }
    }
}
.body::-webkit-scrollbar{
    width: 2px;
}
.body::-webkit-scrollbar-thumb{
    background-color: #520DA9;
    border-radius: 10px;
}