.secao-header{
    z-index: 999 !important;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    gap: 1rem;
    width: 100%;
    height: 70px;
    background-color: #1F0145;
    .header-img{
        img {
            height: 40px !important;
            width: auto !important;
        }
    }
    .secao-header-input-div{
        padding: 0px 10px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        width: 80%;
        height: 40px;
        border-radius: 10px;
        border: 4px solid #FFF;
        background: #FFF;
        gap: 15px;
        position: relative;
        >img{
            height: 80%;
            width: auto;
        }
        >input{
            appearance: none;
            outline: none;
            border: none;
            height: 80%;
            width: 100%;
        }

        .infos-Barra_de_pesquisa-header {
            opacity: 100%;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            position: absolute;
            top: 40px;
            width: 100%;
            height: 300px;
            min-height: 200px;
            max-height: 500px;
            appearance: none;
            outline: none;
            overflow: hidden;
            border: none;
            background-color: rgb(255, 255, 255);
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            .listagem{
                display: flex;
                flex-direction: column;
                height: 95%;
                width: 100%;
                overflow: auto;
                border-bottom: 15px solid linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
            }
            .listagem::-webkit-scrollbar-track {
                background-color: transparent;
            }
            .listagem::-webkit-scrollbar {
                width: 0px;
                
            }
            .listagem::-webkit-scrollbar-thumb {
                background: #520DA9;
                border-radius: 10px;
            }
        }

    }
    .secao-header-menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        .menu-select{
            padding: 5px 10px;
            border-radius: 25px;
            border: 1px dashed #F9DD4A;
            margin-right: 40px;
            flex-direction: row;
            align-items: center;
            display: flex;
            background-color: transparent;
            >img:first-child{
                height: 30px;
                width: auto;
                margin-right: 10px;
            }
            >a{
                text-wrap: nowrap;
                outline: none;
                font-size: 15px;
                width: fit-content;
                margin-right: 5px;
                color: #F9DD4A;
                border: none;
            }
            >svg{
                color: #F9DD4A;
            }
        }
        .revendedor{
            text-decoration: none;
            color: #F9DD4A;
        }
        >a:last-child{
            font-weight: 500;
            margin-left: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;
            color: #1F0145;
            background-color: #F9DD4A;
            width: 120px;
            height: 40px;
        }
        .user-div{
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 5px 20px;
            color: white;
            position: relative;
            .user{
                display: flex;
                flex-direction: row;
                gap: 5px;
                i,a{
                    color: #F9DD4A;
                    font-weight: 900;
                }
            }
            .user-option{
                box-shadow: 4px 4px 4px 0px rgba(82, 13, 169, 0.30);
                border-bottom: 3px solid #520DA9;
                border-radius: 5px;
                height: fit-content !important;
                padding: 5px 15px;
                width: 200%;
                min-width: 230px;
                position: absolute;
                top: 40px;
                right: -15px;
                height: 30px;
                gap: 10px;
                align-items: flex-start;
                justify-content: center;
                z-index: 2;
                display: flex;
                flex-direction: column;
                background-color: rgb(255, 255, 255) !important;
                .baloon{
                    position: absolute;
                    top: -10px;
                    right: 46px;
                    border-left: 12.5px solid transparent;
                    border-right: 12.5px solid transparent;
                    border-bottom: 25px solid white;
                    z-index: -1;
                }
                .user-option-row{
                    img{
                        width: 20px;
                    }
                    gap: 5px;
                    display: flex;
                    flex-direction: row;
                    color: black;
                }
            }
        }
    }
}
.modal {
    outline: none;
    appearance: none;
    border: none;
    z-index: 2;
    position: absolute;
    top: 15% !important;
    bottom: 5% !important;
    left: 10% !important;
    right: 10% !important;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    $color_1: #520DA9;
    $color_2: #acacac;
    $color_3: #520DA9;
    $color_4: #aaa;
    $color_5: #520DA9;
    $color_6: #fff;
    $font-family_1: 'inter';
    $background-color_1: #fff;
    $background-color_2: #f0f0f0;
    $background-color_3: #520DA9;
    $background-color_4: #1F0145;
    $border-color_1: #520DA9;
    .container {
        position: relative;
        width: 100%;
        background-color: $background-color_1;
        height:100%;
        overflow: hidden;
        &:before {
            content: "";
            position: absolute;
            height: 2000px;
            width: 2000px;
            top: -10%;
            right: 48%;
            transform: translateY(-50%);
            background-image: linear-gradient(-45deg, #1F0145 0%, #520DA9 100%);
            transition: 1.8s ease-in-out;
            border-radius: 50%;
            z-index: 6;
        }
    }

    .forms-container {
        position: absolute;
        width: 100%;
        height:100%;
        top: 0;
        left: 0;
    }

    .signin-signup {
        position: absolute;
        transform: translate(-50%, -50%) !important;
        left: 75%;
        top: 0px;
        height: 100%;
        width: 50%;
        transition: 1s 0.7s ease-in-out;
        grid-template-columns: 1fr;
        z-index: 5;
    }

    .sign-in-form,.sign-up-form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: all 0.2s 0.7s;
        overflow: hidden;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .sign-up-form {
        opacity: 0;
        height: 80%;
        z-index: 1;
    }

    .sign-in-form {
        height: 80%;
        z-index: 2;
    }

    .title {
        font-size: 2.2rem;
        color: $color_1;
        margin-bottom: 10px;
    }

    .input-field {
        max-width: 380px;
        width: 100%;
        background-color: $background-color_2;
        margin: 10px 0;
        height: 7% !important;
        max-height: 50px !important;
        border-radius: 55px;
        align-items: center !important;
        display: flex !important;
        position: relative;
        padding-left: 10px !important;
        gap: 10px;
        i {
            text-align: center;
            line-height: 55px;
            color: $color_2;
            transition: 0.5s;
            font-size: 1.1rem;
        }

        input {
            background: none;
            outline: none;
            border: none;
            line-height: 1;
            font-weight: 600;
            font-size: 1.1rem;
            color: $color_3;

            &::placeholder {
                color: $color_4;
                font-weight: 500;
            }
        }
    }

    .social-text {
        padding: 0.7rem 0;
        font-size: 1rem;
    }

    .social-media {
        display: flex;
        justify-content: center;
    }

    .social-icon {
        height: 46px;
        width: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0.45rem;
        color: #333;
        border-radius: 50%;
        border: 2px solid #333;
        text-decoration: none;
        font-size: 1.1rem;
        transition: 0.3s;

        &:hover {
            color: $color_5;
            border-color: $border-color_1;
        }
    }

    .btn {
        width: 150px;
        background-color: $background-color_3;
        border: none;
        outline: none;
        height: 49px;
        border-radius: 49px;
        color: $color_6;
        text-transform: uppercase;
        font-weight: 600;
        margin: 10px 0;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            background-color: $background-color_4;
        }
    }
    

    .panels-container {
        position: absolute;
        height: 80% !important;
        width: 100%;
        top: 0;
        left: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .image {
        width: 80% !important;
    }

    .panel {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        text-align: center;
        z-index: 6;

        .content {
            color: $color_6;
            transition: transform 0.9s ease-in-out;
            transition-delay: 0.6s;
        }

        h3 {
            font-weight: 600;
            line-height: 1;
            font-size: 1.5rem;
        }

        p {
            font-size: 0.95rem;
            padding: 0.7rem 0;
        }
    }

    .left-panel {
        pointer-events: all;
    }

    .right-panel {
        align-items: center;
        pointer-events: none;
        .image {
            transform: translateX(800px);
        }

        .content {
            transform: translateX(800px);
        }
    }

    .btn.transparent {
        margin: 0;
        background: none;
        border: 2px solid #fff;
        width: 130px;
        height: 41px;
        font-weight: 600;
        font-size: 0.8rem;
        &:hover{
            background-color: white;
            color: #520DA9;
        }
    }  
    .sign-up-mode {
        position: relative;
        width: 100%;
        background-color: $background-color_1;
        height: 100%;
        overflow: hidden;
        &:before {
            transform: translate(100%, -50%);
            right: 52%;
            content: "";
            position: absolute;
            height: 2000px;
            width: 2000px;
            top: -10%;
            right: 48%;
            background-image: linear-gradient(-45deg, #1F0145 0%, #520DA9 100%);
            transition: 1.8s ease-in-out;
            border-radius: 50%;
            z-index: 6;
        }

        .left-panel {
            pointer-events: all;
            .image {
                transform: translateX(-800px);
            }

            .content {
                transform: translateX(-800px);
            }

            pointer-events: none;
        }

        .signin-signup {
            left: 25%;
        }

        .sign-up-form {
            opacity: 1;
            z-index: 2;
        }

        .sign-in-form {
            opacity: 0;
            z-index: 1;
        }

        .right-panel {
            align-items: center;
            pointer-events: none;
            .image {
                transform: translateX(0%);
            }

            .content {
                transform: translateX(0%);
            }

            pointer-events: all;
        }
    }

  }
  .user-modal-main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .user-option-select{
        display: flex;
        flex-direction: row;
        width: 100%;
        position: relative;
        .user-option{
            position: relative;
            padding: 10px 0;
            cursor: pointer;
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
            &::after{
                transition: all .5 ease-in-out;
                position: absolute;
                top: calc(100% - 20px);
                height: 20px;
                width: 90%;
                border-radius:5px;
                border-bottom: 5px solid #3333336b;
                content: '';
                transform-origin: center;
                transform: scaleX(0);
            }
            &:hover::after{
                transform-origin: center;
                transform: scaleX(1);
            }
            i{
                color: #520DA9;
            }
            a{
                font-weight: 800;
            }
        }
        .bar-left{
            position: absolute;
            width: 45%;
            top: calc(100% - 15px);
            height: 20px;
            transform: translateX(5%);
            border-radius:5px;
            border-bottom: 5px solid #520DA9;
            transition: all .5s ease-in-out;
        }
        .bar-right{
            position: absolute;
            width: 45%;
            top: calc(100% - 15px);
            height: 20px;
            border-radius:5px;
            border-bottom: 5px solid #520DA9;
            transition: all .5s ease-in-out;
            transform: translateX(117%);
        }
    }
    .right-side{
        height: 100%;
        display: flex;
        flex-direction: row;
        padding: 10px;
        .info-part{
            height: 100%;
            width: 60%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            justify-content: center;
            h1{
                font-size: 150%;
                width: 100%;
                text-align: center;
                color: #520DA9;
            }
            .info-form-div{
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-evenly;
                gap: 15px;
                .info-input-div{
                    display: flex;
                    flex-direction: column;
                    width: 47%;
                    height: 40px;
                    border: 1px solid #520DA9;
                    align-items: center;
                    border-radius: 10px;
                    padding: 5px 15px;
                    position: relative;
                    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
                    label{
                        position: absolute;
                        top: -10px;
                        left: 10px;
                        padding: 0 5px;
                        height: fit-content;
                        width: fit-content;
                        background-color: white;
                        font-weight: 700;
                        color:#520DA9;
                        font-size: 13px;
                    }
                    input{
                        height: 90%;
                        width: 100%;
                        appearance: none;
                        outline: none;
                        border: none;
                    }
                    select{
                        height: 90%;
                        width: 100%;
                        appearance: none;
                        outline: none;
                        border: none;
                    }
                }
            }
            .user-info-button{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;
                width: 100%;
                a{
                    min-width: 20%;
                    padding: 5px 10px;
                    border-radius: 10px;
                    color: white;
                    text-align: center;
                    background-color: #520DA9;
                }
                a:first-child{
                    background-color: red !important;
                }
            }
        }
        .image-part{
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            img{
                width: 90%;
            }
        }
    }
    .left-side{
        &::-webkit-scrollbar{
            width: 5px;
        }
        &::-webkit-scrollbar-track{
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb{
            background-color: #520DA9;
            border-radius: 10px;
        }
        overflow: auto;
        display: flex;
        flex-direction: column;
        padding: 20px 40px;
        gap: 30px;
        background-color: #F3F3F3;
    }
  }
  
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(2, 2, 2, 0.534);
}
.ufmodal{
    border: none;
    outline: none;
    position: absolute;
    background-color: white;
    bottom: 20%;
    top: 20%;
    right: 30%;
    left: 30%;
    border-radius: 25px;
    .uf-main{
        padding: 20px;
        height: 100%;
        width: 100%;
        >h1{
            font-size: 30px;
        }
        >input{
            margin-top: 1rem;
            outline: none;
            width: 100%;
            padding: 10px 5px;
            border-radius: 10px;
            border: 1px solid rgba(76, 87, 108, 0.541);
        }
        .my-loc{
            margin-top: 1rem;
            width: 100%;
            border-top: 1px solid rgba(76, 87, 108, 0.541);
            border-bottom: 1px solid rgba(76, 87, 108, 0.541);
            padding: 10px 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            svg{
                fill: #520DA9;
            }
            >div{
                display: flex;
                flex-direction: column;
                h1{
                    font-weight: 500;
                    font-size: 30px;
                }
            }
        }
        .wrapper{
            overflow: auto;
            height: 65%;
            width: 100%;
            padding: 0 0 10px 0;
            display: flex;
            flex-direction: column;
            >div{
                width: 100%;
                height: 50px;
                gap: 10px;
                padding: 10px 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                border-bottom: 1px solid rgba(76, 87, 108, 0.541);
                svg{
                    font-size: 30px;
                    color: #520DA9;
                }
            }
        }
    }
}