.adm-main{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: fit-content;
    background-color: #F3F3F3;
    .adm-panel{
        width: 7%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .adm-content{
        padding-left: 28px;
        display: flex;
        width: 93%;
        flex-direction: column;
        justify-content: space-between;
        .adm-home{
            display: flex;
            flex-direction: column;
            height: 100vh;
            .home-content{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-content: flex-start;
                padding: 80px 38px 50px 30px;
                height: 100%;
                .home-grafico{
                    height: 500px;
                    margin-top: 40px;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    >img{
                        background-color: white;
                        padding: 30px 24px;
                        border-radius: 10px;
                        width: 750px;
                        height: auto;
                    }
                    .grafico-controller{
                        padding: 25px 40px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-evenly;
                        width: 300px;
                        height: 100%;
                        background-color: white;
                        border-radius: 10px;
                        >div{
                            width: 260px;
                            background-color: #520DA9;
                            height: 25%;
                            border-radius: 8px;
                            display: flex;
                            flex-direction: column;
                            padding: 20px 20px 0px 20px;
                            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                            .title{
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                h1{
                                    font-size: 16px;
                                }
                                svg{
                                    margin-right: 10px;
                                }
                            }
                            .valor-filtro{
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                margin-top: 16px;
                                .valor{
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    p{
                                        font-style: normal;
                                        font-size: 15px;
                                        font-weight: 900;
                                    }
                                    span{
                                        display: flex;
                                        align-items: center;
                                        flex-direction: row;
                                        font-size: 10px;
                                        font-style: normal;
                                        font-weight: 700;
                                        line-height: normal;
                                        svg{
                                            height: 12px;
                                        }
                                    }
                                }
                                .filtro{
                                    outline: none;
                                    background-color: white;
                                    height: 25px;
                                    padding: 5px 12px;
                                    color: #520DA9;
                                    border-radius: 15px;
                                    font-size: 10px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: normal;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}