.secao-category{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-top: 25px;
    .category-btn{
        width: fit-content;
        height: 40px;
        padding: 8px 15px;
        border-right: 3px solid #C2C2C2;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
        font-size: 16px;
        font-weight: 700;
        color: #C2C2C2;
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;

        svg{
            margin-right: 5px;
            width: 28px;
            height: auto;
            fill: black;
        }
    }
}
