.destaque-main{
    height: 400px;
    width: 330px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: #530AD9;
    img{
        width: 100%;
        height: 300px;
        border-radius: 15px;
    }
    h1,p{
        text-align: center;
        color: white;
    }
    .destaque-descricao{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        p:first-child{
            width: 100%;
            text-align: left;
        }
        h1{
            margin-top: auto;
            -webkit-line-clamp: 1;

        }
        p:last-child{
            font-size: 4px !important;
            -webkit-line-clamp: 2;
        }
        p,h1{
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
        }
        a{ 
            text-decoration: none;
            margin-top: 20px;
            width: fit-content;
            color: #F9DD4A;
            border: 2px solid #F9DD4A;
            padding: 5px 10px;
            border-radius: 30px;
            transition: all .5s ease-in-out;
            &:hover{
                background-color: #F9DD4A;
                color: white;
            }
        }
    }
}