.destaque-main{
    width: 90%;
    height: 464px;
    max-width: 1176px;
    background-color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    box-shadow: rgba(25, 31, 40, 0.15) 0px 6px 24px 0px;
    border-radius:15px;
    .img-div{
        width: 60%;
        overflow: hidden;
        height: 100%;
        position: relative;
        z-index: 1;
        border-radius: 15px;
        img{
            position: absolute;
            z-index: 0;
            top: 0px;
            min-height: 100%;
            height: auto;
            width: 100%;
        }
    }
    .destaque-descricao{
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 30px 15px 30px 15px;
        width: 40%;
        justify-content: space-between;
        .desc{
            p:first-child{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 5px;
                color: #520ad9;
                margin-bottom: 30px;
                font-size: 18px !important;
                font-weight: 500;
            }
            p{
                color: grey;
                font-size: 15px;
            }
            span{
                color: gray;
                font-size: 25px;
            }
        }
        a{
            border: 2px solid #520ad9;
            color: #520ad9;
            text-decoration: none;
            padding: 15px;
            width: fit-content;
            border-radius: 15px;
        }
    }
}