.box-ingresso-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 240px;
    width: 270px;
    border-radius: 10px;
    transition: .5s ease-in-out;
    &:hover{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transform: translateY(10px);
    }
    .box-ingresso-bgbox{
        position: relative;
        border-radius: 10px 10px 0  0;
        height: 138px;
        width: 100%;
        overflow: hidden;
        .box-ingresso-bg{
            position: absolute;
            width: 100%;
            height: auto;
        }
    }
    .box-ingresso-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 3px 10px 18px 10px;
        .box-ingresso-adress{
            margin-bottom: 6px;
            display: flex;
            flex-direction: row;
            width: 100%;
            height: fit-content;
            align-items: flex-start;
            justify-content: flex-start;
            h1{
                text-align: left;
                font-size: 14px;
                color: #520DA9;
                margin-bottom: 8px;
            }
        }
        .box-ingresso-name{
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            h1{
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
            }
            p{
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
            }
        }
    }
}