.secao-adm-dashboard{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background-color: #f6f6f9;
    .painel-main{
        padding: 20px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .painel-row{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            overflow: auto;
            gap: 10px;
            .painel{
                padding-top: 40px;
                width: 70%;
                overflow: auto;
                .input-time-controller{
                    padding: 10px 0;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    >div{
                        display: flex;
                        width: 150px;
                        flex-direction: row;
                        position: relative;
                        padding: 10px 20px;
                        border: 2px solid #520ad9;
                        border-radius: 10px;
                        
                        input{
                            width: 100%;
                            appearance: none;
                            outline: none;
                            border-radius: 10px;
                            border: none;
                            background-color: transparent;
                        }
                        label{
                            font-size: 13px;
                            font-weight: 700;
                            position: absolute;
                            top:-9px;
                            left: 4px;
                            background-color: #f6f6f9;
                            padding: 0 10px;
                        }
                    }
                    
                
                }
                .insights-bar{
                    display: flex;
                    flex-direction: row;
                    margin-top: 1rem;
                    width: 100%;
                    justify-content: space-between;
                    gap: 1rem;
                    .insight{
                        box-shadow: 0 2rem 3rem rgba(132,139,200,0.18);
                        transition: all .5s ease-in-out;
                        background-color: white;
                        width: 33%;
                        padding: 10px 20px;
                        border-radius: 25px;
                        >svg{
                            background: #520ad9;
                            padding: 0.5rem;
                            border-radius: 50%;
                            color: white;
                            font-size: 3rem;
                        }
                        .middle{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            .left{
                                display: flex;
                                flex-direction: column;
                                h1{
                                    margin-top: 1rem;
                                    font-weight: 700;
                                    font-size: 1rem;
                                    color: rgb(78, 78, 78);
                                }
                                span{
                                    font-size: 30px;
                                    color: rgb(78, 78, 78);
                                    font-weight: 900;
                                }
                            }
                            .progress{
                                width: 7rem;
                                height: 7rem;
                                position: relative;

                                >svg{
                                    width: 100%;
                                    height: 100%;
                                    circle{
                                        fill: none;
                                        stroke: #520ad9;
                                        stroke-width: 14;
                                        stroke-linecap: round;
                                        transform: translate(5px,5px);
                                        stroke-dasharray: 110;
                                        stroke-dashoffset: 92;
                                    }
                                }
                                p{
                                    color:  rgb(78, 78, 78);
                                    font-weight: 700;
                                    font-size: 12px;
                                    position: absolute;
                                    top: 2rem;
                                    left: 2rem;

                                }

                            }
                        }
                    }
                    .insight:hover{
                        box-shadow: none;
                    }
                }
                .table{
                    padding: 0px 10px;
                    margin-top: 2rem;
                    display: flex;
                    flex-direction: column;
                    h1{
                        font-size: 25px;
                    }
                    table{
                        margin-top: 1rem;
                        background-color: white;
                        border-radius: 25px;
                        padding: 1.8rem;
                        width: 100%;
                        text-align: left;
                        box-shadow: 0 2rem 3rem rgba(132,139,200,0.18);
                        transition: all .5s ease-in-out;
                        text-align: center;
                        td{
                            height: 2.8rem;
                            border-bottom: 1px solid #f6f6f9;
                        }
                        tr:last-child td{
                            border: none;
                        }
                    }
                    table:hover{
                        box-shadow: none;
                    }
                    a{
                        text-align: center;
                        margin-top: 1rem;
                        color: #520ad9;
                    }
                }
            }
            
            .painel-right{
                
                overflow: auto;
                width: 30%;
                display: flex;
                flex-direction: column;
                height: 100%;
                padding-left: 10px;
                >h1:first-child{
                    font-size: 25px;
                    margin-bottom: 28px;
                }
                .cadastros{
                    width: 100%;
                    height: 200px;
                    overflow: auto;
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    border-radius: 25px;
                    padding: 1.8rem;
                    gap: 10px;
                    height: 30%;
                    &::-webkit-scrollbar-track
                    {
                        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                        border-radius: 10px;
                        background-color: transparent;
                    }

                    &::-webkit-scrollbar
                    {
                        width: 0px;
                        background-color: transparent;
                    }

                    &::-webkit-scrollbar-thumb
                    {
                        border-radius: 10px;
                        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                        background-color: transparent;
                    }
                    >div{
                        display: flex;
                        flex-direction: column;
                        border-bottom: 2px solid #f6f6f9;
                        padding: 0 0 10px 0 ;
                        span{
                            span{
                                font-weight: 800;
                            }
                        }
                    }
                }
                .analise-h1{
                    font-size: 25px;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }
                /* width */
                .analise-wrapper::-webkit-scrollbar {
                    width: 0px;
                }
                
                .analise-wrapper{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    height: 70%;
                    overflow: auto;
                    .analise-box{
                        background-color: white;
                        border-radius: 25px;
                        padding: 10px 25px;
                        display: flex;
                        flex-direction: row;
                        .info-main{
                            display: flex;
                            flex-direction: row;
                            gap: 20px;
                            svg{
                                font-size: 50px;
                                border-radius: 50%;
                                color: white;
                                background-color: #520ad9;
                                padding: 10px;
                            }
                            >div{
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                justify-content: flex-start;
                                h1{
                                    font-size: 20px;
                                    color: rgb(78, 78, 78);
                                }
                            }
                        }
                        span{
                            font-weight: 900;
                            margin-left: auto;
                        }
                    }
                    .add-card{
                        border: 2px dashed #520ad9;
                        min-height: 60px;
                        border-radius: 25px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        svg,h1{
                            color: #520ad9;
                        }
                    }
                }
            }
        }
        
            
    }
    .usuario-main{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        .cadastro{
            margin-top: 1rem;
            background-color: white;
            padding: 10px 20px;
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            .title{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                svg{
                    font-size: 40px;
                    border-radius: 50%;
                    background-color: #520ad9;
                    padding: 10px;
                    color: white;
                }
            }
            .wrapper{
                margin-top: 2rem;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 10px;
                >div{
                    min-width: 200px;
                    display: flex;
                    width: 16%;
                    flex-direction: row;
                    padding: 5px 15px;
                    border: 2px solid #520ad9;
                    border-radius: 10px;
                    position: relative;
                    input{
                        width: 100%;
                        border: none;
                        outline: none;
                        appearance: none;

                    }
                    label{
                        font-size: 14px;
                        font-weight: 700;
                        position: absolute;
                        top: -10px;
                        left: 5px;
                        padding: 0 10px;
                        background-color: white;
                    }
                }
            }
            .add-btn{
                color: #520ad9;
                border-radius: 25px;
                border: 2px dashed #520ad9;
                margin-top: 1rem;
                padding: 10px 20px;
                text-align: center;
                display: flex;
                flex-direction: row;
                align-items: center;
                width: fit-content;
            }
        }
        .table{
            height: 100%;
            overflow: auto;
            padding: 0px 10px;
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            h1{
                font-size: 25px;
            }
            table{
                margin-top: 1rem;
                background-color: white;
                border-radius: 25px;
                padding: 1.8rem;
                width: 100%;
                text-align: left;
                box-shadow: 0 2rem 3rem rgba(132,139,200,0.18);
                transition: all .5s ease-in-out;
                text-align: center;
                td{
                    text-align: center;
                    height: 2.8rem;
                    border-bottom: 1px solid #f6f6f9;
                }
                tr:last-child td{
                    border: none;
                }
            }
            table:hover{
                box-shadow: none;
            }
            a{
                text-align: center;
                margin-top: 1rem;
                color: #520ad9;
            }
        }
    }
    .empresa-main{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        .cadastro{
            margin-top: 1rem;
            background-color: white;
            padding: 10px 20px;
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            .title{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                svg{
                    font-size: 40px;
                    border-radius: 50%;
                    background-color: #520ad9;
                    padding: 10px;
                    color: white;
                }
            }
            .wrapper{
                margin-top: 2rem;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 10px;
                >div{
                    min-width: 200px;
                    display: flex;
                    width: 16%;
                    flex-direction: row;
                    padding: 5px 15px;
                    border: 2px solid #520ad9;
                    border-radius: 10px;
                    position: relative;
                    input{
                        width: 100%;
                        border: none;
                        outline: none;
                        appearance: none;

                    }
                    label{
                        font-size: 14px;
                        font-weight: 700;
                        position: absolute;
                        top: -10px;
                        left: 5px;
                        padding: 0 10px;
                        background-color: white;
                    }
                }
            }
            .add-btn{
                color: #520ad9;
                border-radius: 25px;
                border: 2px dashed #520ad9;
                margin-top: 1rem;
                padding: 10px 20px;
                text-align: center;
                display: flex;
                flex-direction: row;
                align-items: center;
                width: fit-content;
            }
        }
        .table{
            padding: 0px 10px;
            margin-top: 2rem;
            height: 100%;
            overflow: auto;
            display: flex;
            flex-direction: column;
            h1{
                font-size: 25px;
            }
            table{
                margin-top: 1rem;
                background-color: white;
                border-radius: 25px;
                padding: 1.8rem;
                width: 100%;
                text-align: left;
                box-shadow: 0 2rem 3rem rgba(132,139,200,0.18);
                transition: all .5s ease-in-out;
                text-align: center;
                td{
                    height: 2.8rem;
                    border-bottom: 1px solid #f6f6f9;
                }
                tr:last-child td{
                    border: none;
                }
            }
            table:hover{
                box-shadow: none;
            }
            a{
                text-align: center;
                margin-top: 1rem;
                color: #520ad9;
            }
        }
    }
    .pedido-main{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        .cadastro{
            margin-top: 1rem;
            background-color: white;
            padding: 10px 20px;
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            .title{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                svg{
                    font-size: 40px;
                    border-radius: 50%;
                    background-color: #520ad9;
                    padding: 10px;
                    color: white;
                }
            }
            .wrapper{
                margin-top: 2rem;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 10px;
                >div{
                    min-width: 200px;
                    display: flex;
                    width: 16%;
                    flex-direction: row;
                    padding: 5px 15px;
                    border: 2px solid #520ad9;
                    border-radius: 10px;
                    position: relative;
                    input{
                        width: 100%;
                        border: none;
                        outline: none;
                        appearance: none;

                    }
                    label{
                        font-size: 14px;
                        font-weight: 700;
                        position: absolute;
                        top: -10px;
                        left: 5px;
                        padding: 0 10px;
                        background-color: white;
                    }
                }
            }
            .add-btn{
                color: #520ad9;
                border-radius: 25px;
                border: 2px dashed #520ad9;
                margin-top: 1rem;
                padding: 10px 20px;
                text-align: center;
                display: flex;
                flex-direction: row;
                align-items: center;
                width: fit-content;
            }
        }
        .table{
            padding: 0px 10px;
            margin-top: 2rem;
            height: 100%;
            overflow: auto;
            display: flex;
            flex-direction: column;
            h1{
                font-size: 25px;
            }
            table{
                margin-top: 1rem;
                background-color: white;
                border-radius: 25px;
                padding: 1.8rem;
                width: 100%;
                text-align: left;
                box-shadow: 0 2rem 3rem rgba(132,139,200,0.18);
                transition: all .5s ease-in-out;
                text-align: center;
                td{
                    height: 2.8rem;
                    border-bottom: 1px solid #f6f6f9;
                }
                tr:last-child td{
                    border: none;
                }
            }
            table:hover{
                box-shadow: none;
            }
            a{
                text-align: center;
                margin-top: 1rem;
                color: #520ad9;
            }
        }
    }
    .chart-main{
        padding: 20px;
        width: 100%;
        overflow: auto;
        height: 100%;
        display: flex;
        flex-direction: column; 
        .control-chart{
            display: flex;
            flex-direction: row;
            width: 100%;
        }
    }
    .ingresso-main{
        width: 100%;
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        .search-bar{
            margin-top: 1rem;
            border-radius: 25px;
            width: 80%;
            height: 60px;
            background-color: white;
            padding: 1rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            svg{
                font-size: 40px;
                border-radius: 50%;
                color: white;
                background-color: #520ad9;
                padding: 10px;
            }
            input{
                width: 100%;
                height: 100%;
                appearance: none;
                outline: none;
                border: none;
            }
        }
        .wrapper{
            margin-top: 1rem;
            gap: 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            height: fit-content;
            overflow: auto;
            align-items: flex-start;
            justify-content: space-evenly;
        }
        /* width */
        .wrapper::-webkit-scrollbar {
            width: 10px;
        }
        
        /* Track */
        .wrapper::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey;
            border-radius: 10px;
        }
        
        /* Handle */
        .wrapper::-webkit-scrollbar-thumb {
            background: #520ad9;
            border-radius: 10px;
        }
    }
    .chamados-main{
        width: 100%;
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        .table{
            height: 100%;
            overflow: auto;
            padding: 0px 10px;
            margin-top: 2rem;
            display: flex;
            width: 100%;
            flex-direction: column;
            h1{
                font-size: 25px;
            }
            table{
                margin-top: 1rem;
                background-color: white;
                border-radius: 25px;
                padding: 1.8rem;
                width: 100%;
                text-align: left;
                box-shadow: 0 2rem 3rem rgba(132,139,200,0.18);
                transition: all .5s ease-in-out;
                text-align: center;
                
                tr{
                    .aprove,.reprove{
                        cursor: pointer;
                        color: transparent;
                    }
                    &:hover{
                        .aprove{
                            color: green;
                        }
                        .reprove{
                            color: red;
                        }
                    }
                }
                td{
                    height: 2.8rem;
                    border-bottom: 1px solid #f6f6f9;
                }
                tr:last-child td{
                    border: none;
                }
            }
            table:hover{
                box-shadow: none;
            }
            a{
                text-align: center;
                margin-top: 1rem;
                color: #520ad9;
            }
        }
    }
    
}