    .ingresso-body{
    .ingresso-main{
        padding-top: 134px;
        display: flex;
        flex-direction: column;
        align-items: center;
        >img{
            border-radius: 10px;
            width: 650px;
            height: auto;
            margin-bottom: 25px;
        }
        >h1{
            color: #000;
            text-align: center;
            font-size: 34px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-bottom: 50px;
        }
        .ingresso-descricao{
            width: 40%;
            margin-bottom: 50px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            h1{
                color: #8E8E8E;
                text-align: center;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
            }
            p{
                color: #8E8E8E;
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-wrap: nowrap !important;
            }
            .ingresso-descricao-row{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                img{
                    margin-right: 5px;
                    height: 30px;
                    width: auto;
                }
                
            }
            .ingresso-descricao-column{                
                display: flex;
                flex-direction: column;
            }
        }
        .descricao-controller{
            width: 95%;
            height: 80px;
            overflow: hidden;
            border-radius: 6px;
            border-bottom: 5px solid #520AD9;
            box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
            transition: all .5s ease-in-out;
            margin-bottom: 80px;
            .header{
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 80px;
                h1{
                    color: #000;
                    text-align: center;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    margin-bottom: 14px;
                }
                img{
                    transform: rotate(0deg);
                    transition: all .5s ease-in-out;
                }
            }
            >p{
                padding: 1.8rem;
            }
        }
        .descricao-controller-opened{
            width: 95%;
            height: 500px;
            overflow: auto;
            border-radius: 6px;
            border-bottom: 5px solid #520AD9;
            box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
            transition: all .5s ease-in-out;
            margin-bottom: 80px;
            .header{
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 80px;
                h1{
                    color: #000;
                    text-align: center;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    margin-bottom: 14px;
                }
                img{
                    transform: rotate(180deg);
                    transition: all .5s ease-in-out;
                }
            }
            >p{
                padding: 1.8rem;
            }
        
        }
        .descricao-controller-opened::-webkit-scrollbar{
            width: 0px;
        }
        .time-ticket-controller{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 500px;
            background-color: #F3F3F3;
            margin-bottom: 70px;
            padding: 40px 80px;
            >h1{
                color: #000;
                text-align: center;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                width: 100%;
                text-align: left;
            }
            .time-ticket-row{
                gap: 10px;
                display: flex;
                flex-direction: row;
                height: 100%;
                .paginacao{
                    height: 100%;
                    gap: 8px;
                    justify-content: flex-end;
                    display: flex;
                    flex-direction: column;
                    a{
                        svg{
                            font-size: 35px;
                            border: 1px solid #520DA9;
                            border-radius: 50%;
                            color: #520DA9;
                            transform: rotate(90deg);
                        }
                    }
                    .swiper-button-disabled{
                        svg{
                            color: #C2C2C2;
                            border: 1px solid #C2C2C2;
                            border-radius: 50%;
                        }
                    }
                }
                .data-controller{
                    width: 120px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    .mySwiper{
                        width: 120px;
                        height: 92.5%;
                    }
                     .data-selected{
                         width: 100%;
                         height: 120px;
                         display: flex;
                         flex-direction: column;
                         align-items: center;
                         justify-content: center;
                         border-radius: 2px;
                         border-top: 0.6px solid #C2C2C2;
                         border-bottom: 0.6px solid #C2C2C2;
                         background: #520DA9;
                         cursor: pointer;
                         h1{
                             color: #FFF;
                             text-align: center;
                             font-size: 14px;
                             font-style: normal;
                             font-weight: 500;
                             line-height: normal;
                         }
                         p{
                             color: #FFF;
                             text-align: center;
                             font-size: 14px;
                             font-style: normal;
                             font-weight: 700;
                             line-height: normal;
                         }
                     }
                    .data-box{
                        width: 100%;
                        height: 120px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        border-radius: 2px;
                        border-top: 0.6px solid #C2C2C2;
                        border-bottom: 0.6px solid #C2C2C2;
                        background-color: white;
                        cursor: pointer;
                        h1{
                            color: #8E8E8E;
                            text-align: center;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                        }
                        p{
                            color: black;
                            text-align: center;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }
                    }
                }
                .time-select{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-top: 32px;
                    width: 100%;
                    >h1{
                        width: 100%;
                        padding: 7px 0px;
                        text-align: center;
                        color: #000;
                        text-align: center;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        border-radius: 3px;
                        border-bottom: 1px solid #520DA9;
                        background: #FFF;
                        margin-bottom: 35px;
                    }
                    .ticket-wrapper{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        align-items: flex-start;
                        justify-content: flex-start;
                        height: 51%;
                        padding-top: 5px;
                        overflow: auto;
                        width: 100%;
                        gap: 10px;
                        .time-select-box{
                            width: 250px;
                            height: 90px;
                            border-radius: 3px;
                            border-bottom: 1px solid #520DA9;
                            background: #FFF;
                            display: flex;
                            flex-direction: column;
                            padding: 7px 15px;
                            justify-content: CE;
                            h1{
                                color: #000;
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: normal;
                            }
                            p{
                                color: #191F28;
                                font-size: 13px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                            }
                            p:last-child{
                                color: #520AD9;
                                font-size: 13px;
                                font-weight: 400;
                                line-height: normal;
                            }
                        }
                        .type-select-box{
                            width: 350px;
                            height: 90px;
                            border-radius: 3px;
                            border-bottom: 1px solid #520DA9;
                            background: #FFF;
                            display: flex;
                            transition: all .5 ease-in-out;
                            flex-direction: column;
                            padding: 7px 15px;
                            position: relative;
                            >h1{
                                color: #000;
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: normal;
                            }
                            >p{
                                color: #191F28;
                                font-size: 13px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                            }
                            >p:last-child{
                                color: #520AD9;
                                font-size: 13px;
                                font-weight: 400;
                                line-height: normal;
                            }
                            >div{
                                color: #520AD9;
                                position: absolute;
                                right: -5px;
                                box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.281);
                                top: -5px;
                                padding: 10px;
                                border-radius: 25px;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                gap: 5px;
                                transition: all .5 ease-in-out;
                                transform: translateY(0%);
                                background-color: white;
                                
                            }
                        }
                        
                    }
                    .subtotal-box{
                        margin-top: auto;
                        width: 100%;
                        height: fit-content;
                        background-color: white;
                        border-bottom: 2px solid #520AD9;
                        border-radius: 3px;
                        transition: all  .5 ease-in-out;
                        padding: 10px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        a{
                            height: 100%;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding: 5px 20px;
                            border: 2px dashed #520AD9;
                            color: #520AD9;
                            background-color: #F3F3F3;
                            border-radius: 25px;
                            gap: 5px;
                            svg{
                                color: white;
                                font-size: 35px;
                                padding: 10px;
                                border-radius: 50%;
                                background-color: #520AD9;
                            }
                        }
                        >div{
                            display: flex;
                            flex-direction: row;
                            align-items: flex-end;
                            gap: 10px;
                            height: 100%;
                            >h1{
                                font-size: 20px;
                                color: #520AD9;
                                font-weight: 700;
                            }
                            >span{
                                font-size: 20px;
                                font-weight: 900;
                            }
                        }
                        
                    }
                        
                }
            }
        }
        .compra-main{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            align-items: center;
            gap: 3rem;
            margin-bottom: 5rem;
            .box,.box-2{
                display: flex;
                flex-direction: column;
                border-radius: 10px;
                padding: 2rem;
                width: 60%;
                background-color: #f6f6f6;
            }
            .box{
                gap: 1rem;
               .box-row{
                    align-items: center;
                    svg{
                        color: #520AD9;
                        transform: rotate(30deg);
                        font-size: 55px;
                        border-radius: 50%;
                        padding: 10px;
                        background-color: white;
                    }
                    >div{
                        display: flex;
                        flex-direction: column;
                        >h1{
                            margin-bottom: 1rem;
                        }
                    }
               }
               .divisor{
                    width: 100%;
                    background-color: black;
                    height: 1px;
               }
               .wrapper{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    max-height: 100px;
                    gap: 1rem;
                    overflow: auto;
                    >div{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        justify-content: space-between;
                    } 
                }
                >div{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    justify-content: space-between;
                } 
               
            }
            .box-2{
                gap: 1rem;
                svg{
                    color: white;
                    padding: 10px;
                    font-size: 75px;
                    border-radius: 20%;
                    background-color: #520AD9;
                }
                >div{
                    gap: 1rem;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    >div{
                        display: flex;
                        flex-direction: column;
                    }
                }
                a{
                    margin-left: auto;
                    font-size: 20px;
                    font-weight: 700;
                    padding: 10px 30px;
                    background-color: #520AD9;
                    color: white;
                    width: fit-content;
                    border-radius: 25px;
                }
            }
            .box-info{
                display: flex;
                flex-direction:column;
                border-radius: 10px;
                padding: 2rem;
                width: 60%;
                background-color: #f6f6f6;
                .box-info-row{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    >img{
                        width: 40%;
                        height: auto;
                    }
                    .box-info-col{
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        >div{
                            background-color: white;
                            width: 100%;
                            border-radius: 10px;
                            height: 60px;
                            padding: 10px;
                            display: flex;
                            flex-direction: row;
                            gap: 1rem;
                            box-shadow: 0 2rem 3rem rgba(132,139,200,0.18);
                            >div{
                                display: flex;
                                flex-direction: column;
                                small{
                                    color: #520DA9;
                                }
                            }
                            .boleto{
                                width: 50px;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                gap: 0.5rem;
        
                            }
        
                            >svg{
                                width: 50px;
                                font-size: 50px;
                                color: #520DA9;
                            }
                        }
                    }
                    
                }
                
            }
            .box-dados{
                display: flex;
                flex-direction:column;
                border-radius: 10px;
                padding: 2rem;
                width: 60%;
                background-color: #f6f6f6;
                .box-dados-row{
                    justify-content: space-between;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    .box-dados-col{
                        display: flex;
                        flex-direction: column;
                        >a{
                            padding: 10px 20px;
                            margin-top: 1rem;
                            background-color: #520AD9;
                            width: fit-content;
                            color: white;
                            border-radius: 15px;
                        }
                        .credit{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 0.5rem;
                            margin-bottom: 1rem;
                            svg{
                                color: #520AD9;
                            }
                        }
                        .parcela-info{
                            display: flex;
                            flex-direction: row;
                            gap: 5px;
                            align-items: center;
                            margin-bottom: 1rem;
                            small:first-child{
                                color: #8E8E8E;
                            }
                            svg{
                                color: #520AD9;
                            }
                            small:last-child{
                                color: #520AD9;
                            }
                        }
                        .radios{
                            display: flex;
                            flex-direction: row;
                            gap: 10px;
                            margin-bottom: 5px;
                            label{
                                font-weight: 600;
                            }
                            input {
                                appearance: none;
                              
                                border-radius: 50%;
                                width: 16px;
                                height: 16px;
                              
                                border: 2px solid #520AD9;
                                transition: 0.2s all linear;
                                margin-right: 5px;
                              
                                position: relative;
                                top: 4px;
                              }
                              
                              input:checked {
                                border: 6px solid #520AD9;
                              }
                        }
                        .row{
                            margin-top: 1rem;
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            justify-content: space-between;
                            >div{
                                position: relative;
                                width: 30%;
                                border: 2px solid #8E8E8E;
                                border-radius: 10px;
                                height: 40px;
                                padding: 5px 20px;
                                label{
                                    font-size: 12px;
                                    padding: 0px 5px;
                                    background-color: #f6f6f6;
                                    position: absolute;
                                    top: -10px;
                                }
                                input{
                                    background-color: transparent;
                                    border: none;
                                    outline: none;
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                    
                    .total{
                        background-color: white;
                        height: fit-content;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        justify-content: center;
                        width: fit-content;
                        max-width: 30%;
                        padding: 30px 10px;
                        border-radius: 15px;
                        box-shadow: 0 2rem 3rem rgba(132,139,200,0.18);
                        p{
                            font-size: 20px;
                        }
                    }
                }
            }
            .box-final{
                display: flex;
                flex-direction:column;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
                padding: 2rem;
                width: 50%;
                background-color: #f6f6f6;
                >h1{
                    margin-bottom: 2rem;
                }
                >svg{
                    color: #520AD9;
                    font-size: 200px;
                    margin-bottom: 5rem;
                }
                >div{
                    gap: 1rem;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    svg{
                        color: white;
                        padding: 10px;
                        font-size: 75px;
                        border-radius: 20%;
                        background-color: #520AD9;
                    }
                    >div{
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}