* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  width: 100vw;
}
@font-face {
  font-family: 'inter';
  src: url('../src/assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}
a,p,h1,select,option,span, input, input::placeholder{
  font-family: 'inter';
}
a{
  cursor: pointer;
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}