* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  width: 100vw;
}
@font-face {
  font-family: 'inter';
  src: url('../src/assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}
a,p,h1,h2,h3,select,option,span, input, input::placeholder,label,small,td,th{
  font-family: 'inter';
}
a{
  cursor: pointer;
}
.ReactModal__Overlay {
  z-index: 999;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  z-index: 999;
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  z-index: 999;
  opacity: 0;
}

@font-face {
  font-family: 'semibold';
  src: url(./assets/fonts/Inter-SemiBold.ttf);
}

@font-face {
  font-family: 'regular';
  src: url(./assets/fonts/Inter-Regular.ttf);
}

@font-face { 
  font-family: 'Bold';
  src: url(./assets/fonts/Inter-Bold.ttf);
}
.glider-prev,.glider-next {
  color: #530ad9 !important;
  font-size: 70px !important;
}