* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  width: 100vw;
}
@font-face {
  font-family: 'inter';
  src: url('../src/assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}
a,p,h1,select,option,span, input, input::placeholder{
  font-family: 'inter';
}
a{
  cursor: pointer;
}